{% extends 'RpsAdminBundle:Datatable:list.html.twig' %}



{% block javascripts %}

    {{ parent() }}
    
{{ datatable_js({
        'id' : 'dta-offres',
        'js' : {
            'ajax' : path('content_data'),
            'columnDefs': [
        { "width": "2%", "targets": 3 },
        ],
        "order": [[ 1, "desc" ]],
        "paging": false,
        },
        
    })
}}

    <script>
        newsRemoveRoute = "{{path('content_remove')}}";

    </script>


{% endblock %}

{% block entity_content %}
        <div class="col-sm-3">
    <a href="{{path('content_new')}}" class="btn btn-primary active" role="button">Создать новую</a>
        </div>
        <div class="col-sm-6">{{ include('RpsAdminBundle:Form:flashMessages.html.twig') }}</div>


    {{ datatable_html({
            'id' : 'dta-offres'
        })
    }}

{% endblock  %}
