{% extends 'RpsAdminBundle::layout.html.twig' %}
{% block javascripts %}

    {{ parent() }}
    {% javascripts
    '@RpsAdminBundle/Resources/public/js/sectionChoise.js'
    '@RpsAdminBundle/Resources/public/js/ajaxContentByCategory.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script>
        CONTENTCHANGE_PATH = "{{ path('ajaxSelectContent') }}";

        /*Если указано то разблокирываем
         */
        $(document).ready( function () {

            content = $('#sectionForm_content');
            category = $('#sectionForm_category');
            if(content.val() != "") {
                content.prop('disabled', false);
            }
            if(category.val() != "") {
            category.prop('disabled', false);
            }

        });
    </script>


    {% endjavascripts  %}

{% endblock %}



{% block entity_content %}
    <header>
        <h1>Редактирование раздела</h1>
    </header>


    <div class="row">
        <div class="col-md-5">
        {{ form_start(form, {  'method': 'POST', 'attr': {'id': 'form'} }) }}

        {{ form_errors(form) }}


        {{ form_rest(form) }}
        
        
         {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="bg-success h3 text-center">
                {{ flashMessage }}
            </div>
        {% endfor %} 


        </div>
    </div>


{% endblock %}