<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

        {%for i in 1 .. object.content|length %}

        <li data-target="#myCarousel" data-slide-to="{{ i }}" {% if i==1 %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">

        {%set i= 0 %}
        {%for news in object.content %}
        {% if i==0 %}
        <div class="item active">
            {%else%}
            <div class="item ">
                {%endif%}
                {% set i = i + 1 %}



                <img src="{{news.getFirstImage}}" style="margin: 0;">
                <div class="carousel-caption">
                    <p>{{news.dateUpdate | date('d-m-Y')}}</p><h2 class="text-primary"> {{news.fname}} </h2>
                    {% autoescape false %}
                    <p>{{news.getShortText()}}</p>
                    {% endautoescape %}
                    <p> <a href="{{path('content_view' , {'id': news.id})}}"  class="btn btn-sm btn-primary" role="button">&nbsp;&nbsp;Подробнее....</a></p>
                </div>

            </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>