{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">

        <p>
            &nbsp;&nbsp;&nbsp;Визит руководителей и специалистов Республиканского комитета профсоюза железнодорожников и транспортных строителей на Гомельский железнодорожный узел Гомельского отделения Белорусской железной дороги 17.09.2015 года был связан с проведением информационного дня Дорпрофсожа.
            <br>&nbsp;&nbsp;&nbsp;В рамках информационного дня председателем Дорпрофсожа Рингом В.И., его заместителем Вайтеховичем И.А. и главным техническим инспектором Новиком А.И. посещались Локомотивное депо Гомель, Гомельская дистанция пути  и Гомельский вагонный участок.
            <br>&nbsp;&nbsp;&nbsp;На предприятиях представители Дорпрофсожа посетили профсоюзные комитеты, провели встречи с руководителями организаций, беседовали с работниками.
            <br>&nbsp;&nbsp;&nbsp;В завершении своего пребывания на Гомельском железнодорожном узле руководством Дорпрофсожа было проведено совещание с профактивом Гомельского Райпрофсожа.
            <br>&nbsp;&nbsp;&nbsp;С положительной стороны была отмечена работа профсоюзных комитетов, их информационная деятельность, проводимые мероприятия по избирательной компании в Республике Беларусь, проведение детского летнего оздоровительного сезона и многое другое.
        </p>
        <br>

        <img src="{{ asset('web/images/static/info_1.jpg') }}" />
        <img src="{{ asset('web/images/static/info_2.jpg') }}" />
        <img src="{{ asset('web/images/static/info_3.jpg') }}" />
        <img src="{{ asset('web/images/static/info_4.jpg') }}" />
        <img src="{{ asset('web/images/static/info_5.jpg') }}" />
        <img src="{{ asset('web/images/static/info_6.jpg') }}" />
        <img src="{{ asset('web/images/static/info_7.jpg') }}" />
        <img src="{{ asset('web/images/static/info_8.jpg') }}" />
        <img src="{{ asset('web/images/static/info_9.jpg') }}" />
        <img src="{{ asset('web/images/static/info_10.jpg') }}" />
        <img src="{{ asset('web/images/static/info_11.jpg') }}" />
        <img src="{{ asset('web/images/static/info_12.jpg') }}" />
        <img src="{{ asset('web/images/static/info_13.jpg') }}" />
        <img src="{{ asset('web/images/static/info_14.jpg') }}" />
        <img src="{{ asset('web/images/static/info_15.jpg') }}" />
        <img src="{{ asset('web/images/static/info_16.jpg') }}" />




    </div>

<style>
    img {
        width: 100%;
        margin-bottom: 1em;
    }
</style>

{% endblock %}