{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">


        &nbsp;&nbsp;&nbsp;В течение 2015 года в соответствии с условиями Коллективного договора РУП «Гомельское отделение Белорусской железной дороги, в плане содействия администрации, профсоюзными работниками и профактивом Гомельского Райпрофсожа была проведена большая организационная работа по оздоровлению работников предприятий и их детей.
        <br>&nbsp;&nbsp;&nbsp;Оздоровление проводилось в Санатории РУП «Гомельское отделение Белорусской железной дороги», а так же находящимися на его балансе оздоровительном лагере летнего круглосуточного пребывания детей и базе отдыха «Лесные дали», других санаториях Белорусской железной дороги.
        <br>&nbsp;&nbsp;&nbsp;Уже сложилось хорошей профсоюзной традицией к началу летнего детского оздоровительного сезона приобретать в оздоровительный лагерь «Лесные дали» для детей дополнительную музыкальную и видеотехнику, детскую литературу и спортивный инвентарь, закупать поливитамины и т.д.
        <br>&nbsp;&nbsp;&nbsp;Вот и в 2015 году Райпрофсожем на эти нужды были перечислены финансовые средства в сумме 14,2 млн. рублей, профсоюзными комитетами оплачивались выступления артистов Гомельской филармонии, Культурно-спортивного комплекса Гомельского отделения дороги, кукольного театра.
        <br>&nbsp;&nbsp;&nbsp;Кроме этого Райпрофсожем в летний период времени была организована поездка на оздоровление для работников и их детей на Черноморское побережье в г.Анапа.
        <br>&nbsp;&nbsp;&nbsp;Всего в 2015 году прошли оздоровление за счет средств нанимателя, ЧАЭС, соцстраха и профбюджета Райпрофсожа 3705 человек, 1261 из которых дети.
        <br>
        <br>&nbsp;&nbsp;&nbsp;Сведения по оздоровлению железнодорожников и их детей за 12 месяцев 2015 года по Гомельскому отделению дороги:

        <table class="table-bordered table-condensed">
            <tbody><tr>
                <td width="70%" align="center">Источник финансирования</td>
                <td width="15%" align="center">Оздоровлено человек</td>
                <td width="15%" align="center">В том числе детей</td>
            </tr>
            <tr>
                <td width="70%" align="left">Санаторий РУП «Гомельское отделение Белорусской железной дороги» за счет средств нанимателя</td>
                <td width="15%" align="right">3 117</td>
                <td width="15%" align="right">896</td>
            </tr>
            <tr>
                <td width="70%" align="left">Санатории, оздоровительные организации других отделений Белорусской железной дороги за счет средств нанимателя</td>
                <td width="15%" align="right">65</td>
                <td width="15%" align="right">21</td>
            </tr>
            <tr>
                <td width="70%" align="left">За счет средств ЧАЭС</td>
                <td width="15%" align="right">252</td>
                <td width="15%" align="right">252</td>
            </tr>
            <tr>
                <td width="70%" align="left">За счет средств соцстраха</td>
                <td width="15%" align="right">21</td>
                <td width="15%" align="right">14</td>
            </tr>
            <tr>
                <td width="70%" align="left">За счет средств профбюджета Райпрофсожа г.Анапа</td>
                <td width="15%" align="right">250</td>
                <td width="15%" align="right">78</td>
            </tr>
            </tbody></table>
        <p></p>
        <br>
        <img src="{{ asset('web/images/static/oz_1.jpg') }}" />
        <img src="{{ asset('web/images/static/oz_2.jpg') }}"/>
        <img src="{{ asset('web/images/static/oz_3.jpg') }}"/>

        <br>
        <br>
        <br>

        <img src="{{ asset('web/images/static/oz_4.jpg') }}" style="width: 33%;"/>
        <img src="{{ asset('web/images/static/oz_5.jpg') }}" style="width: 33%;"/>
        <img src="{{ asset('web/images/static/oz_6.jpg') }}" style="width: 33%;"/>


    </div>

<style>
    img {
        width: 100%;
        margin-bottom: 1em;
    }
</style>

{% endblock %}