{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">
        <img src="{{ asset('web/images/static/sport_1.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_2.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_3.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_4.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_5.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_6.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_7.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_8.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_9.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_10.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_11.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_12.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_13.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_14.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_15.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_16.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_17.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_18.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_19.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_20.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_21.jpg') }}" />
        <img src="{{ asset('web/images/static/sport_22.jpg') }}" />





    </div>

<style>
    img {
        width: 100%;
        margin-bottom: 1em;
    }
</style>

{% endblock %}